.mainMenu{
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 100px;
    background-color: blue;
}

.headerLogo{
    display: flex;
    margin-left: 50px;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.headerTitles{
    display: flex;
    margin-right: 120px;
    width: 80%;
    justify-content: flex-end;
}

.headerTitle{
    color: white;
    margin-right: 50px;
}