.landing2{
    display: flex;
    height: 800px;
    flex-direction: column;
    align-items: center;

}

.landing2Back{
    display: flex;
    background-image: url('../../assets/Developer.jpg');
    background-size: cover;
    height: 80%;
    width: 100%;
}

.landing2Grey{
    display: flex;
    flex-direction: column;
    background-color:whitesmoke;
    width: 100%;
    justify-content: center;
    padding-bottom: 80px;
}

.colla{
    display: flex;
    justify-content: center;
}

.colla > img{ 
    align-self: center;
    width: 15%;
    margin-right: 20px;

}