.landing1{
    display: flex;
    flex-direction: column;
    height: 1200px;
    justify-content: flex-start;
    align-items: center;
}

.sectionTitle{
    display: flex;
    height: 100px;
    color: cadetblue;
    align-self: center;
    font-size: 1.8vw;
    font-weight: 900;
    margin-top: 40px;
}

.about{
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}
.aboutText{
    margin-left: 100px
}

.aboutTitle{
    font-size: 2.2vw;
    margin-bottom: 1em;
}

.aboutDes{
    color:gray;
    margin-top: 1em;
    width: 400px;
    margin-right: 80px;
    line-height: 25px;
}