.landing3{
    display: flex;
    justify-content: flex-start;
    
    height: 600px;
    flex-direction: column;
}
.sectionDesc{
    align-self: center;
    margin-bottom: 20px;
}

.blogCards{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardTitle{
    font-weight: bold;
}

.cardImg{
    display: flex;
    justify-content: center;
}
.cardImg>img{
    width: 70%;
    height: auto;
}


