.landing4{
    display: flex;
    justify-content: flex-start;
    height: 600px;
    flex-direction: column;
}

.column4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.form{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;

}

.column4Img{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    background-image: url('../../assets/Contact us.jpg');
    background-size: cover;
    background-position: bottom;
}