.landing0{
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/start page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -100px;
    height: 800px;
   justify-content: center;
}

.landing0Title{
    display: flex;
    color: white;
    margin-left: 70px;
    font-size: 4.5vw;
    font-weight: 900;

}

.landing0Des{
    display: flex;
    color: white;
    margin-left: 70px;
    font-size: 1.5vw;
    font-weight: 100;
    margin-top: 10px;


}

.landing0Des > img{
    margin-left: 15px;
}

.buttons{
    display: flex;
    width: 40%;
    margin-left: 70px;
    margin-top: 20px;

}

.button{
    display:flex;
    justify-content: center;
    color: white;
    width: 200px;
    border: 1px solid white;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 25px;
    

}

.button>img{
    
    margin-right: 8px;
}